/* Your Plugin CSS */

main {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 0 15px 15px 15px;
	gap: 15px;
}

.button-row {
	display: flex;
	gap: 10px;
	flex-direction: row;
	width: 100%;
}

.button-row button {
	flex: 1;
}

.item-stack {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.item {
	background-color: var(--framer-color-bg-tertiary);
	padding: 8px 10px;
	border-radius: 8px;
}
